.nav-container{
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  background-image: url(./images/Rectangle18.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navstart, .mobilestart, .artcle-link, .try-link{
  background-color: #52018E;
}

.footer{
  background-color: #290147;
}

.hero > h1{
  width: 60%;
  margin-top: 5em;
}

.p1{
  width: 40%;
  margin-top: 2em;
}

.hero > a{
  margin-top: 2em;
  margin-bottom: 8em;
}

.about{
  background-color: #FFFCEC;
  padding-bottom: 4em;
}

.about > img {
  width: 35%;
}

.about article{
  display: flex;
  flex-direction: column;
}

.use, .try > div, .chatpage {
  background-repeat: no-repeat;
  background-size: cover;
}

#use1, #use4, #use5, #use8 {
  width: 55%;
}

#use2, #use3, #use6, #use7 {
  width: 40%;
}

#use1{
  background-image: url(./images/Rectangle4.png);
}

#use2{
  background-image: url(./images/health.jpeg);
}

#use3{
  background-image: url(./images/cat.jpeg);
}

#use4{
  background-image: url(./images/5.jpeg);
}

#use5{
  background-image: url(./images/vr.jpeg);
}

#use6{
  background-image: url(./images/3.jpeg);
}

#use7{
  background-image: url(./images/2.jpeg);
}

#use8{
  background-image: url(./images/1.jpeg);
}

.chatpage{
  background-image: url(./images/Rectangle23.png);
  height: 100vh;
}

.inner{
  /*background: linear-gradient(#414040 100%, #BDBBBB 43%);*/
  background: linear-gradient(rgba(189,187,187, 0.4), rgba(65,64,64, 1));
}

.try{
  background-color: #E9F3FF;
}

.try > div {
  background-image: url(./images/Rectangle20.png);
}

.foottop, .rule, .footbottom{
  width: 80%;
  margin: auto;
}

.rule{
  margin-top: 2em;
  margin-bottom: 1em;
}

.signup{
  height: 100vh;
}

.signup > img {
  width: 40%;
}

.input::placeholder{
  font-weight: bold;
  font-size: 12px;
}

.chatmain > header {
  border-bottom: 2px solid rgb(201, 200, 200);
}

#send{
  width: 80%;
}

.chat-sec{
  width: 90%;
  height: 400px;
  overflow-y: scroll;
  margin: auto;
  margin-top: 1em;
  margin-bottom: -10em;
  padding-bottom: 1em;
}

.message{
  border: 2px solid rgb(201, 200, 200);
  width: 90%;
  margin: auto;
  margin-top: 12em;
  margin-bottom: 1em;
}

.message > div {
  width: 90%;
}

.chatinput {
  width: 100%;
}

.watch-now{
  background-image: url(./images/Rectangle13.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#formlogo{
  width: 10%;
  top: 2em;
  left: 4em;
}

@media screen and (max-width: 768px) {
  
  .navitem, .navstart, .rule, .signup > img {
    display: none;
  }

  .mobilenav{
    background-color: #fff;
    position: absolute;
    top: 5em;
    left: 1em;
    width: 80%;
    height: 100vh;
  }

  .mobilestart{
    width: 40%;
    margin-top: 2em;
    text-align: center;
  }

  .hero > h1, .p1{
    width: 80%;
  }

  .about article > h1, .try > div > p{
    width: 90%;
  }

  .try > div > p{
    position: relative;
    top: 5em;
  }

  .try > div > a{
    position: relative;
    top: 7em;
  }

  .about article{
    align-items: center;
    text-align: center;
  }

  .about > img {
    width: 70%;
    margin: auto;
    margin-top: 2em;
  }

  .uses{
    width: 100%;
    margin: auto;
    margin-top: 2em;
  }

  .navitems{
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .logos{
    width: 50%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .text{
    margin-top: 1em;
  }

  .input{
    width: 100%;
  }

  .chatmain{
    width: 90%;
    margin: auto;
  }

  .profile > img{
    width: 8%;
  }

  #logo2{
    width: 45%;
  }

  #navlogo{
    width: 30%;
  }

  .how{
    margin-top: 2em;
    margin-bottom: 4em;
  }

  .watch-now{
    background-size: cover;
    width: 100%;
    height: 300px;
  }

}

@media screen and (min-width: 769px) {

  .about article{
    align-items: flex-start;
    text-align: left;
    width: 35%;
  }

  .cases{
    width: 80%;
    margin: auto;
  }
  
  .cases > p, .try > div > p{
    width: 40%;
  }

  .uses{
    width: 90%;
    margin: auto;
    margin-top: 2em;
  }

  #logo, #userlogo, #historylogo, #history-logo{
    width: 3%;
  }

  .logos{
    width: 15%;
  }

  .text{
    width: 30%;
  }

  .signup > aside {
    width: 60%;
  }

  .chatmain{
    width: 100%;
    margin: auto;
  }

  .profile > img{
    width: 5%;
  }

  #logo2{
    width: 45%;
  }

  #navlogo{
    width: 10%;
  }

  .watch-now{
    background-size: contain;
    width: 60%;
    height: 500px;
  }

}