.nav-container{
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  background-image: url(./images/Rectangle18.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero > h1{
  width: 60%;
  margin-top: 5em;
}

.p1{
  width: 40%;
  margin-top: 2em;
}

.hero > a{
  margin-top: 2em;
  margin-bottom: 8em;
}

.about{
  background-color: #FFFCEC;
  padding-bottom: 4em;
}

.about > img {
  width: 35%;
}

.about article{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 35%;
}

#video{
  width: 60%;
}

.uses{
  width: 90%;
  margin: auto;
  margin-top: 2em;
}

.use, .try > div, .chatpage {
  background-repeat: no-repeat;
  background-size: cover;
}

#use1, #use4, #use5, #use8 {
  width: 55%;
}

#use2, #use3, #use6, #use7 {
  width: 40%;
}

#use1{
  background-image: url(./images/Rectangle4.png);
}

#use2{
  background-image: url(./images/health.jpeg);
}

#use3{
  background-image: url(./images/cat.jpeg);
}

#use4{
  background-image: url(./images/5.jpeg);
}

#use5{
  background-image: url(./images/vr.jpeg);
}

#use6{
  background-image: url(./images/3.jpeg);
}

#use7{
  background-image: url(./images/2.jpeg);
}

#use8{
  background-image: url(./images/1.jpeg);
}

.chatpage{
  background-image: url(./images/Rectangle23.png);
  height: 100vh;
}

.inner{
  /*background: linear-gradient(#414040 100%, #BDBBBB 43%);*/
  background: linear-gradient(rgba(189,187,187, 0.4), rgba(65,64,64, 1));
}

.cases{
  width: 80%;
  margin: auto;
}

.cases > p{
  width: 40%;
}

.try{
  background-color: #E9F3FF;
}

.try > div {
  background-image: url(./images/Rectangle20.png);
}

.try > div > p{
  width: 40%;
}

.footer{
  background-color: #031E3E;
}

.foottop, .rule, .footbottom{
  width: 80%;
  margin: auto;
}

.rule{
  margin-top: 2em;
  margin-bottom: 1em;
}

.logos{
  width: 15%;
}

.text{
  width: 30%;
}

.signup{
  height: 100vh;
}

.signup > img {
  width: 40%;
}

.signup > aside {
  width: 60%;
}

.input::placeholder{
  font-weight: bold;
  font-size: 12px;
}

.chatmain{
  width: 50%;
  margin: auto;
}

.chatmain > header {
  border-bottom: 2px solid rgb(201, 200, 200);
}

.logout, #logo2, .profile > img{
  width: 5%;
}

#send{
  width: 80%;
}

.chat-sec{
  width: 90%;
  margin: auto;
  margin-top: 2em;
}

.message{
  border: 2px solid rgb(201, 200, 200);
  margin-top: 12em;
  margin-bottom: 2em;
}

.message > div {
  width: 90%;
}

.chatinput {
  width: 100%;
}

@media screen and (max-width: 768px) {
  
}